.field__wrap {
  position: relative;
  cursor: text;
}
.field__area {
  display: block;
  font-size: 14px;
  font-family: "Livvic", sans-serif;
  width: 100%;
  overflow: hidden;
  resize: none;
  transition: 0.3s;
}
.field__area::placeholder {
  opacity: 0.5;
  color: #2D3134;
}
.field.--b-gray .field__area {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.field.--b-gray .field__area:focus {
  border-bottom: 1px solid black;
}
.field.--sm .field__area {
  font-size: 14px;
  line-height: 20px;
  height: 40px;
}
.field.--md .field__area {
  font-size: 16px;
  line-height: 20px;
  height: 40px;
}
.field.--lg .field__area {
  font-size: 16px;
  line-height: 20px;
  height: 59px;
  padding-left: 34px;
  padding-right: 34px;
}
.field.--error .field__area {
  border-color: #f00;
}
.field.--error .field__message {
  display: block;
}