include ../../pug/vars

header.header
	.case
		.header__wrap.row
			a.header__logo(href="index.html")
				img(src="uploads/logo-black.png" alt="")
			.header__nav
				ul
					li
						a(href="" data-text="НОВИНКИ") 
					li
						a(href="" data-text="КАТАЛОГ") 
					li
						a(href="" data-text="LOOKBOOK") 
					li
						a(href="" data-text="ПОКУПАТЕЛЯМ") 
					li
						a(href="" data-text="МАГАЗИНЫ") 
			.header__controls.row
				a.header__control.control(href="")
					.control__icon
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M342.49,324.4l.14-.14c23.13-23.61,47.07-48,70.85-72.15,17.51-17.75,27.19-38.59,28.76-61.92,1.79-26.69-6.34-50.55-24.17-70.9A92.66,92.66,0,0,0,305.78,97.83c-9.63,5-18.7,12-27.72,21.37-2.47,2.58-4.93,5.19-7.52,7.94l-10.6,11.23-6.55-6.75c-2-2-3.87-4-5.73-6l-.16-.18c-3.89-4.09-7.55-8-11.37-11.54C212.9,92.11,186.55,83.6,157.8,88.62c-39.16,6.85-65.16,30.23-77.27,69.51A98,98,0,0,0,78.11,169c-.3,1.6-.6,3.23-.93,4.83v18.07a11,11,0,0,1,.63,2.6c2.5,21.9,11.74,40.72,28.24,57.53,35.76,36.41,71.41,72.78,105.89,108l3,3.1,43.82,44.71,1,1q28.85-29.48,57.71-58.91Zm-37.31,20.8q-18.81,19.14-37.58,38.25c-.35.37-1.75,1.68-1.75,1.68l-4.71,4.42-7.68-7c-3.21-3-6.35-6-9.49-8.9l-.31-.29c-7.89-7.36-16-15-23.78-22.79-19.23-19.45-38.62-39.23-57.36-58.36l-.72-.73c-15.42-15.74-31.36-32-47.08-47.94s-24.35-34.86-25.41-56c-2.08-41.2,26.41-78.33,66.28-86.37h0c27.15-5.46,51.53,1.87,72.47,21.79,8.59,8.17,17,16.7,25.16,25l.26.27,6.35,6.42c2.54-2.57,5.06-5.17,7.52-7.7l.12-.13c8.92-9.17,18.13-18.64,28.1-27.23,22.07-19,50.07-25,76.81-16.3A84.13,84.13,0,0,1,428,163.53c7,29.36-.2,56.13-20.79,77.4-33.16,34.26-67.12,68.8-100,102.2Z"/></svg> 
				a.header__control.control(href="")
					.control__icon
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path fill="#1d1d1b" d="M429.92,456.74,378.67,137.36H117.55L70.06,456.74ZM129.62,151.36H366.74L367,153l46.48,289.7H86.29Z"/><path fill="#1d1d1b" d="M247.25,54.81c48,0,57.19,50.34,58.57,60.81l11.48.07c-.71-5.74-3.2-21-10.68-35.37C294,56.07,273.5,43.26,247.25,43.26s-46.87,12.8-59.72,37c-7.64,14.4-10.29,29.69-11.07,35.44h11.47a98,98,0,0,1,10-30.42C208.82,65.06,225.41,54.81,247.25,54.81Z"/></svg>
				a.header__control.control.toggle-auth(href="")
					.control__icon
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M251.11,44.81h-.43c-61.31,0-111.31,49.33-111.54,110.16C138.9,216.05,188.37,266,249.41,266.42h.7A111.29,111.29,0,0,0,360.86,155.65C361.07,95.79,310.81,45,251.11,44.81Zm-.79,210.29h0a99.72,99.72,0,0,1-99.77-100.41c.08-54.32,44.86-98.48,99.84-98.48h.12a99.3,99.3,0,0,1,99,99.44C349.37,210.49,304.89,255.1,250.32,255.1Z"/><path d="M156.78,308.54c57.92-.08,116.8-.05,173.75,0H343a59.74,59.74,0,0,1,11.68.78c13.88,2.71,25.7,9.54,34.15,19.76s13,23.13,13,37.3c.08,20.41.07,41.15.05,61.2q0,13.28,0,26.54v1.07h11.39V432.64c0-20.79,0-42.28-.06-63.42a117.77,117.77,0,0,0-1-14.69c-3.94-30.91-33.36-57.11-64.23-57.22-77.29-.27-136.78-.28-192.86,0-38.35.18-68.43,30.57-68.5,69.18,0,23.82,0,48,0,71.48v17.22H98.08V434.69q0-33.29,0-66.58V367a55.44,55.44,0,0,1,.62-10C104.19,327.15,126.44,308.58,156.78,308.54Z"/></svg>
				a.header__control.control.toggle-nav(href="")
					.control__icon
						<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.9979 0.50351H0.00585938V1.23801H16.9979V0.50351Z" fill="black"/><path d="M16.9985 6.13199H-0.000488281V6.85998H16.9985V6.13199Z" fill="black"/><path d="M17 11.769H0.000976562V12.4965H17V11.769Z" fill="black"/></svg>
			//- .header__ham.ham
			//- 	div
			//- 	div
			//- 	div

			.header__auth.auth
				.auth__title Вход на сайт
				.auth__close.toggle-auth
				form.auth__form
					.auth__field.field.--md.--b-gray
						.field__wrap
							input.field__area(type="" name="" placeholder="Ваш e-mail*")
					.auth__field.field.--md.--b-gray
						.field__wrap
							input.field__area(type="" name="" placeholder="Пароль*")
					button.auth__btn.btn.--md.--bg-black Войти
				.auth__links.row
					a.auth__link(href="") Забыли пароль?
					a.auth__link(href="") Регистрация
				.auth__desc При авторицации и регистрации вы принимаете #[a(href="") пользовательское соглашение]

form.search
	.case
		.search__wrap
			button.search__btn.btn
				<svg data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M173.61,336.47l6.11-5.4,5.91,4.71c34.81,27.7,74.1,39.62,116.82,35.41,43.41-4.28,79.49-23.78,107.24-58a158.49,158.49,0,0,0-223-222.93C155,116,135.86,149.2,129.86,188.91c-6.9,45.72,4.66,88,34.35,125.51l4.8,6.08-5.91,6.32c-.44.48-.88,1-1.34,1.41Q109.86,380.13,58,432l10,10L172.32,337.66C172.74,337.23,173.17,336.85,173.61,336.47ZM142.12,212.56c.42-39.89,16.19-76.66,44.39-103.56A145.62,145.62,0,0,1,287.45,68.69h.3c39.91.86,76.65,16.75,103.46,44.72a142.69,142.69,0,0,1,39.93,100.94c-.47,39.93-16.26,76.75-44.47,103.66h0a143.22,143.22,0,0,1-99.25,39.84h-1.68c-40-.46-76.82-16.24-103.75-44.45A143.11,143.11,0,0,1,142.12,212.56Z"/></svg>
			.search__field.field.--md.--b-gray
				.field__wrap
					input.field__area(type="" name="" placeholder="Поиск")
			